

<div class="row">
  <div class="col-md-12">
    <form #f="ngForm" #fr="ngForm" #fb="ngForm" (ngSubmit)="f.form.valid && onSubmit(f, fr, fb)"  class="form-inline">
      <div class="col-md-10 form-group">
        <label>
          <input type="text" placeholder="betegnelse" name="todoText"
                 ngModel [(ngModel)]="todoValue" required #todo = "ngModel"
                 [ngClass] = "{'border-danger': f.submitted && todo.invalid}">
        </label>
        <label >
          <input type="text" name="prisTekst" [(ngModel)]="sykkelPris" placeholder="pris">
        </label>
        <label >
          <input type="text" name="fabrikk" [(ngModel)]="fabrikk" placeholder="fabrikk">
        </label>
      </div>
      <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block">legg til sykkel</button>
      <div class="text-danger ml-3" *ngIf="f.submitted && todo.invalid && todo.errors.required">
        Todo is required!
      </div>
    </form>
  </div>

</div>
<div class="sykler" *ngFor="let sykler of sykkel">
  <h3>Navn: {{sykler.data.betegnelse}} - dagpris: {{sykler.data.dagpris}}</h3>
</div>
<button routerLink="/">gå tilbake</button>
