<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #f="ngForm" #fr="ngForm" #fb="ngForm" (ngSubmit)="f.form.valid && onSubmit(f, fr, fb)"  class="form-inline">
        <div class="col-md-10 form-group">
          <label>
            <input  type="text" placeholder="betegnelse" name="todoText"
                   ngModel [(ngModel)]="sykkelVerdi" required #todo = "ngModel"
                   [ngClass] = "{'border-danger': f.submitted && todo.invalid}">
          </label>
          <label >
            <input type="text" name="prisTekst" [(ngModel)]="sykkelPris" placeholder="pris">
          </label>
          <label >
            <input type="text" name="fabrikk" [(ngModel)]="fabrikk" placeholder="fabrikk">
          </label>
        </div>
        <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block">{{statusTekst}}</button>
        <div class="text-danger ml-3" *ngIf="f.submitted && todo.invalid && todo.errors.required">
          Todo is required!
        </div>
      </form>
    </div>

  </div>
  <div class="sykler" *ngFor="let sykler of sykkel">
    <h3 class="sykkel-kategori">Navn: {{sykler.data.betegnelse}} - dagpris: {{sykler.data.dagpris}}kr</h3>
    <button class="knapp" (click)="onEdit(sykler.data.betegnelse, sykler.id)">Oppdater sykkel</button>
    <button class="knapp" (click)="onDelete(sykler.id)">Slett sykkel</button>
  </div>
  <button class="tilbake" routerLink="/">gå tilbake</button>
</div>

