<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" class="form-inline">
        <div class="col-md-10 form-group">
          <label>
            <input class="input" type="text" placeholder="Skriv ny kategori her" name="categoryName" class=" form-control-plaintext
          drop-shadow" [(ngModel)] = 'categoryName' required #category = "ngModel"
                   [ngClass] = "{'border-danger': f.submitted && category.invalid}">
          </label>
        </div>
        <button type="submit" class="btn btn-success ">{{statusTekst}}</button>

        <div class="text-danger ml-3" *ngIf="f.submitted && category.invalid && category.errors.required">
          Category is required!
        </div>
      </form>
    </div>
  </div>
  <h1>Sykkelkategorier</h1>
  <div class="vising" *ngFor="let modell of sykkelKategorier">
    <h3 class="sykkel-kategori" [routerLink]="['/sykkel/', modell.kategori]">
      {{modell.data.kategori}} - antall: {{modell.data.antSykkel}}
    </h3>
    <button class="btn btn-primary col-md-2 btn-todo" (click)="onEdit(modell.data.kategori, modell.kategori)">Oppdater kategori</button>
    <button class="btn btn-danger col-md-2 btn-todo btn-" (click)="onDelete(modell.kategori)">Slett kategori</button>
  </div>
</div>

